In [3]:
import pandas as pd

In [12]:
maher = pd.read_excel ('Maher_Main_File.xlsx')
omit = pd.read_excel ('omittedna_norm.xlsx')

In [54]:
comb = maher.merge(omit.drop(columns = "HT?"))#.columns

In [60]:
omit.drop(columns = "HT?").merge(maher)#.columns

       HT_norm  Population  Poverty  ...  HT  Poverty   Median_Property_Value
0     0.000000       30722     7369  ...   0    7369.0                     NaN
1     0.032787      100546     5125  ...   4    5125.0                284700.0
2     0.163934      548872    78160  ...  20   78160.0                240900.0
3     0.000000      102725    13901  ...   0   13901.0                118600.0
4     0.221311      589770    54400  ...  27   54400.0                245000.0
...        ...         ...      ...  ...  ..       ...                     ...
1168  0.000000      274314    46281  ...   0   46281.0                218600.0
1169  0.000000      155928    20161  ...   0   20161.0                137600.0
1170  0.000000       11581     2824  ...   0    2824.0                     NaN
1171  0.000000       45541     8722  ...   0    8722.0                     NaN
1172  0.000000       41409     5799  ...   0    5799.0                     NaN

[1173 rows x 25 columns]

In [57]:
comb = comb[['Year','County', 'HT','HT_norm','Latitude', 'Longitude', 'Poverty ',
       'Median_Income', 'Unemployed', 'Population', 'Births', 'Deaths',
       'InternationalMigration', 'DomesticMigration', 'Median_Property_Value ',
        'Poverty', 'All_Occupations', 'Massage_Therapists',
       'Maids_Housekeeping_Cleaners', 'Hotel_Motel_Resort_Clerks',
       'Farming_Fishing_Forestry', 'Farmworkers_Farm_Ranch_Aquaculture',
       'Farmworkers_Laborers_Greenhouse_Nursery', 'Gaming_Dealers',
       'Gaming_Service_Workers']]

In [58]:
comb.to_excel('maherandomit.xlsx')

In [59]:
comb

      Year          County  ...  Gaming_Dealers  Gaming_Service_Workers
0     2018     Kleberg, TX  ...             140                    1470
1     2018    Rockwall, TX  ...             140                    1470
2     2018      Ramsey, MN  ...            2000                     410
3     2018       Allen, OH  ...            1180                     130
4     2018  Montgomery, TX  ...             140                    1470
...    ...             ...  ...             ...                     ...
1168  2013    Atlantic, NJ  ...            5620                     170
1169  2013       Ellis, TX  ...             540                    1000
1170  2013       Duval, TX  ...             540                    1000
1171  2013         Kay, OK  ...            3040                     430
1172  2013     Shawano, WI  ...            1680                     250

[1173 rows x 25 columns]